body{
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

.carousel-writing{
    color: whitesmoke;
}
.carousel-button{
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: whitesmoke;
    border: 5px solid whitesmoke;
}

/* header done */
.sec-heading{
    text-align: center;
    margin-top: 48px;
    font-weight: bold;
}

/* ------------
price grid section
----------------- */
.price-section{
    margin-top: 40px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;

}
.grid-cell{
    text-align: center;
    background-color: antiquewhite;
    border-radius: 30px;
    text-align: justify;
    padding: 20px;
    margin: 20px;
}
@media (max-width:700px) {
    .grid-cell{
        background-color: aqua;
        /* flex-direction: column; */

    }

}
/* _____________
dropdown FAQ
_____________ */

