body{
    font-family: 'Cinzel', serif;
    font-size: 20px;
}
.moving-pictures{

}
.carousel-writing{
    color: whitesmoke;
}
.carousel-button{
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: whitesmoke;
    border: 5px solid whitesmoke;
}

/* header done */
.sec-heading{
    text-align: center;
    margin-top: 48px;
    font-weight: bold;
}


.pricing{
    background-color: antiquewhite;
}